<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="sitsmavenint.testcase3"/>
      <class name="sitsmavenint.testcase1"/>
      <class name="sitsmavenint.testcase2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
